---
import type { Package } from '../data'

export interface Props extends Package {
    className?: string
}

const {
    title,
    description,
    price,
    priceIndicator,
    features,
    purchaseUrl,
    className,
} = Astro.props
---

<div class={className}>
    <h3 class="mb-5 text-xl font-medium text-gray-700 dark:text-gray-300">
        {title}
        <!-- <span class="mr-1 align-middle">
            {title}
        </span>
        {
            Array.from(Array(i + 1), (_) => (
                <Fire className="ml-0.5 inline h-5 w-5 align-middle" />
            ))
        } -->
    </h3>

    <div class="inline-flex flex-wrap items-end gap-x-2 gap-y-1">
        <span
            class="text-5xl font-bold text-gray-900 dark:text-white sm:text-6xl"
        >
            <span
                class="text-4xl -tracking-wide text-primary dark:text-gray-200"
            >
                $
            </span>
            <span>{price}</span>
        </span>
        {
            priceIndicator && (
                <span class="text-lg text-gray-600 dark:text-gray-200">
                    {priceIndicator}
                </span>
            )
        }
    </div>

    <p class="mt-4 text-gray-700 dark:text-gray-200">
        {description}
    </p>

    <div class="mt-10 flex flex-col gap-3">
        {
            features.map((feature) => (
                <div
                    class={`flex items-start gap-2 text-gray-800 dark:text-white ${
                        typeof feature === 'object' && feature.disabled
                            ? '!text-gray-700 dark:!text-gray-600'
                            : ''
                    }`}
                >
                    <svg
                        class="mt-1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="inherit"
                    >
                        <path
                            d="M8 15.5C3.85775 15.5 0.5 12.1423 0.5 8C0.5 3.85775 3.85775 0.5 8 0.5C12.1423 0.5 15.5 3.85775 15.5 8C15.5 12.1423 12.1423 15.5 8 15.5ZM7.25225 11L12.5548 5.69675L11.4943 4.63625L7.25225 8.879L5.1305 6.75725L4.07 7.81775L7.25225 11Z"
                            fill="currentColor"
                        />
                    </svg>
                    <span class="leading-relaxed">
                        {typeof feature === 'string' ? feature : feature.text}
                    </span>
                </div>
            ))
        }
    </div>

    <a
        href={purchaseUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="relative mt-8 flex w-full items-center justify-center px-4 py-2 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
    >
        <span class="relative font-semibold text-stone-800">Get started</span>
    </a>
</div>
