---
import AppHeader from '../components/AppHeader.astro'
import AppFooter from '../components/AppFooter.astro'

interface BaseProps {
	title: string
	canonical?: string
	hideIndex?: boolean
}

interface SeoProps {
	description: string
	image?: string
}

type Never<T> = { [K in keyof T]?: never }

export type Props = BaseProps &
	(
		| ({ hideIndex: true } & Never<SeoProps>)
		| ({ hideIndex?: false } & SeoProps)
	)

function getCurrentUrl() {
	const url = Astro.url
	url.search = ''
	return url.href
}

function getDefaultImage() {
	return new URL('./banner.png', import.meta.env.SITE).href
}

const {
	title,
	description,
	image = getDefaultImage(),
	hideIndex = false,
	canonical = getCurrentUrl(),
} = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<!-- Default meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Main meta -->
		<title>{title}</title>
		<meta name="title" content={title} />
		{description && <meta name="description" content={description} />}
		<link rel="canonical" href={canonical} />
		{hideIndex && <meta name="robots" content="noindex nofollow" />}
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- OG meta -->
		<meta property="og:type" content="website" />
		<meta name="og:title" property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="Turismo" />
		<meta property="og:url" content={canonical} />
		<meta property="og:image" content={image} />
		<meta property="og:image:alt" content={title} />

		<!-- Twitter meta -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@turismo_gg" />
		<meta name="twitter:creator" content="@turismo_gg" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
		<meta name="twitter:image:alt" content={title} />

		<!-- Fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- Favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<link
			rel="mask-icon"
			href="/favicon/safari-pinned-tab.svg"
			color="#fa8404"
		/>
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<meta name="msapplication-TileColor" content="#191617" />
		<meta
			name="msapplication-config"
			content="/favicon/browserconfig.xml"
		/>
		<meta name="theme-color" content="#191617" />

		{
			!import.meta.env.DEV && (
				<script
					defer
					src="/stats/js/script.js"
					data-api="/stats/api/event"
					data-domain="roastyourdeck.com"
				/>
			)
		}
	</head>

	<body class="bg-white dark:bg-darker">
		<AppHeader />
		<slot />
		<AppFooter />
		<p aria-hidden class="sr-only">
			Logo (https://twemoji.maxcdn.com/v/latest/svg/1f525.svg) by Twitter
			is licensed under CC-BY 4.0
			(https://creativecommons.org/licenses/by/4.0/)
		</p>
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>
